.git
.gitignore
.env
laravel-app/public/storage
**/public/storage
laravel-app/vendor
laravel-app/node_modules
laravel-app/storage/*.key
laravel-app/storage/app/*
!laravel-app/storage/app/.gitignore
laravel-app/storage/framework/cache/*
!laravel-app/storage/framework/cache/.gitignore
laravel-app/storage/framework/sessions/*
!laravel-app/storage/framework/sessions/.gitignore
laravel-app/storage/framework/views/*
!laravel-app/storage/framework/views/.gitignore
laravel-app/storage/logs/*
!laravel-app/storage/logs/.gitignore
vuejs-app/node_modules
vuejs-app/dist
